.outer-div {
    border: 1px solid black;
    margin: 1em;
    border-radius: 10px;
    overflow: hidden;
}

.inner-div {
    background-color:green;
    text-align: right;
    transition: 0.5s ease-in;
}