.tile {
    padding:2em;
    background-color: aquamarine;
    justify-content: center;
    display: inline-flex;
    border-radius: 1em;
    border: 1px solid black;
    font-size: large;
    cursor: pointer;
    margin: 0.5em;
}

.hidden {
    display: none;
}

.back-button {
    margin-top: 2%;
}

.header {
    justify-content: center;
    display: flex;
}

.prologue {
    margin: 2em;
}